body {
    text-align: center;
    font-family: Verdana;
    background-color: black;
}

p {
    font-size:21px;
    color: gray;
}

img{
    text-align:center;
}

footer{
    text-align: right !important;
    font-size: 22px !important;
}

.link {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}

